html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  overflow: hidden;
  width: 98%;
}

.content-wrapper {
  width: 70%;
  overflow: hidden;
  float: left;
}

.layout-col3 {
  width: 30%;
  float: left;
  position: relative;
  margin-left: 43px;
}

@media screen and (max-width: 59em) {
  .layout-col3 {
    width: 33%;
    margin-left: 0;
  }
}
@media screen and (max-width: 41.07em) {
  .wrapper {
    width: 89%;
  }

  .layout-col3 {
    width: 70%;
    margin: 17px auto;
    float: none;
  }
}
@font-face {
  font-family: 'bebasregular';
  src: url("../../fonts/bebas___-webfont.eot");
  src: url("../../fonts/bebas___-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/bebas___-webfont.woff") format("woff"), url("../../fonts/bebas___-webfont.ttf") format("truetype"), url("../../fonts/bebas___-webfont.svg#bebasregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
  color: #474747;
}

body {
  background-color: #fafafa;
  color: #464646;
  font-family: Arial, sans-serif;
}

.btm-border {
  -webkit-border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
  -moz-border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
  -ms-border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
  border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
  border-bottom-width: 5px;
  border-bottom-style: inset;
}

h2, h3, h4 {
  font-family: 'bebasregular', Arial,sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: .875em;
  word-spacing: 2px;
}

h4 {
  font-size: .75em;
}

.content-title {
  -webkit-border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
  -moz-border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
  -ms-border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
  border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
  border-bottom: 5px inset;
  padding: 0 0 30px 0;
}
.content-title h2 {
  font-size: 1.5em;
  padding-bottom: 15px;
  line-height: 35px;
}
.content-title p {
  font-size: 0.75em;
  color: #9e9e9e;
  width: 83%;
}
.content-title p em {
  font-style: italic;
  line-height: 20px;
}

.no-borderimage .content-title {
  border-bottom-color: lightgray;
}

@media screen and (max-width: 41.07em) {
  .content-title p {
    width: 100%;
  }
}
/* constants  */
.link-activepage:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8.3px 6.75px 0 6.75px;
  border-color: #ebecec transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 50%;
}

/*    Header   */
header {
  border-top: #ececec 7px solid;
  overflow: hidden;
  min-height: 148px;
  /*   Navigation   */
}
header .header-wrapper {
  max-width: 940px;
  margin: 0 auto;
}
header .header-wrapper h1 {
  float: left;
  background: url(../../graphics/header/logo.png);
  text-indent: -9999px;
  background-repeat: no-repeat;
  width: 102px;
  height: 52px;
  margin-top: 20px;
}
header .nav-toggle {
  display: none;
}
header .nav-panel-hidden {
  display: none;
}
header .nav-panel {
  float: right;
  position: relative;
  padding-bottom: 40px;
}
header .nav-panel li, header .nav-panel span {
  display: inline-block;
  width: 78px;
  position: relative;
}
header .nav-panel span {
  color: #a5a5a5;
  font-size: 0.65em;
  /* 10.4 / 16*/
  letter-spacing: 0.2px;
  padding-bottom: 8px;
}
header .nav-panel li {
  font-size: 1.25em;
  padding: 26px 0 0 46px;
  font-family: "bebasregular", Arial, sans-serif;
  text-transform: uppercase;
}
header .nav-panel li:hover:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8.3px 6.75px 0 6.75px;
  border-color: #ebecec transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 50%;
}

@media screen and (max-width: 47.19em) {
  .link-activepage:after {
    display: none;
  }

  header .header-wrapper h1 {
    display: table;
    float: none;
    position: relative;
    margin: 0 auto;
  }
  header .nav-panel {
    float: none;
    margin: 0 auto;
    display: table;
  }
  header .nav-panel li {
    padding-left: 46px;
  }
  header .nav-panel li:hover:after {
    display: none;
  }
}
@media screen and (max-width: 41.07em) {
  header .nav-toggle {
    display: block;
    float: right;
    cursor: pointer;
    height: 48px;
    width: 48px;
    background: url(../../graphics/header/nav-toggle.png) no-repeat;
    border: 2px solid black;
    border: 2px solid rgba(0, 0, 0, 0.16);
    margin-bottom: 10px;
    position: absolute;
    right: 3%;
  }
  header .nav-toggle:hover {
    border: 2px solid rgba(0, 0, 0, 0.7);
  }
  header .nav-panel {
    display: none;
    float: none;
    text-align: center;
    top: 40px;
    margin-bottom: 20px;
  }
  header .nav-panel li {
    padding-left: 0px;
    display: list-item;
    margin: 0 auto;
  }
}
footer {
  border-top-color: white;
  background-color: #f7f7f7;
  margin-top: 20px;
  border-width: 5px;
  -webkit-border-image: url(../../graphics/base/diag-pattern.png) 100% 0 0 0 repeat;
  -moz-border-image: url(../../graphics/base/diag-pattern.png) 100% 0 0 0 repeat;
  -ms-border-image: url(../../graphics/base/diag-pattern.png) 100% 0 0 0 repeat;
  border-image: url(../../graphics/base/diag-pattern.png) 100% 0 0 0 repeat;
  position: relative;
  bottom: 0%;
  border-top-style: inset;
}
footer .footer-wrapper {
  max-width: 940px;
  margin: 0 auto;
  font-size: 0.75em;
  padding-top: 30px;
}
footer .footer-wrapper p {
  padding-left: 20px;
}

/* Modernizr  */
.no-borderimage footer {
  border-top-color: lightgrey;
}

aside {
  float: right;
  width: 23%;
  margin-top: 98px;
}
aside h4 {
  -webkit-border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
  -moz-border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
  -ms-border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
  border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
  border-bottom-width: 5px;
  border-bottom-style: inset;
  color: #464646;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
aside p, aside ul {
  font-size: 0.75em;
  margin: 24px 0 20px 0;
}
aside li {
  padding-bottom: 6px;
}

.no-borderimage h4 {
  border-bottom-color: lightgray;
}

.slider-counters span {
  width: 23px;
  height: 5px;
  display: inline-block;
  cursor: pointer;
}

.link-primary {
  font-size: 0.75em;
  padding-top: 1px;
  position: relative;
  font-family: "bebasregular", Arial, sans-serif;
  text-transform: uppercase;
  word-spacing: 2px;
}
.link-primary:before {
  content: url(../../graphics/home/double_arrow.png);
  position: relative;
  left: 0;
  top: 1px;
  padding-right: 4px;
}

/*   Page Introduction   */
.intro {
  font-size: 0.75em;
  line-height: 24px;
  margin-top: 40px;
}

/*   Contact Form  */
.form-contact {
  margin-top: 40px;
  overflow: hidden;
}
.form-contact input {
  padding: 0 0 0 8px;
}
.form-contact .textarea-message, .form-contact input {
  display: block;
  font-size: 12px;
  word-spacing: 2px;
  background-color: #fafafa;
  border: solid 1px #eee;
  margin-top: 10px;
  width: 215px;
  height: 33px;
  box-sizing: border-box;
  overflow: auto;
  /*Resize the message box */
}
.form-contact .textarea-message[name="message"], .form-contact input[name="message"] {
  width: 490px;
  height: 203px;
  padding: 8px 0 0 8px;
}
.form-contact input[name="submit"] {
  background-color: white;
  border: none;
  background: url(../../graphics/contact/submit.gif) no-repeat;
  background-position: left;
  margin-top: 15px;
  padding-left: 20px;
  width: 64px;
  height: 15px;
  cursor: pointer;
}

/* Placeholder selector for all browsers*/
*::-webkit-input-placeholder {
  color: #c6c6c6;
  font-family: "bebasregular", Arial, sans-serif;
  text-transform: uppercase;
}

*:-moz-placeholder {
  color: #c6c6c6;
  font-family: "bebasregular", Arial, sans-serif;
  text-transform: uppercase;
}

*::-moz-placeholder {
  color: #c6c6c6;
  font-family: "bebasregular", Arial, sans-serif;
  text-transform: uppercase;
}

*:-ms-input-placeholder {
  color: #c6c6c6;
  font-family: "bebasregular", Arial, sans-serif;
  text-transform: uppercase;
}

/* Media Queries   */
@media screen and (max-width: 47.19em) {
  .content-wrapper {
    float: none;
    margin: 0 auto;
  }

  .form-contact .textarea-message, .form-contact input {
    width: 100%;
  }

  aside {
    float: none;
    width: 100%;
    margin: 40px auto 0 auto;
    text-align: center;
    font-size: 1.25em;
  }
  aside p {
    text-align: left;
  }
}
