html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  overflow: hidden;
  width: 98%; }

.content-wrapper {
  width: 70%;
  overflow: hidden;
  float: left; }

.layout-col4 {
  width: 30%;
  float: left;
  position: relative;
  margin-left: 43px; }

@media screen and (max-width: 59em) {
  .layout-col4 {
    width: 33%;
    margin-left: 0; } }
@media screen and (max-width: 41.07em) {
  .wrapper {
    width: 89%; }

  .layout-col4 {
    width: 70%;
    margin: 17px auto;
    float: none; } }
@font-face {
  font-family: 'bebasregular';
  src: url("../../fonts/bebas___-webfont.eot");
  src: url("../../fonts/bebas___-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/bebas___-webfont.woff") format("woff"), url("../../fonts/bebas___-webfont.ttf") format("truetype"), url("../../fonts/bebas___-webfont.svg#bebasregular") format("svg");
  font-weight: normal;
  font-style: normal; }

a {
  text-decoration: none;
  color: #474747; }

body {
  background-color: #fafafa;
  color: #464646;
  font-family: Arial, sans-serif; }

.btm-border {
  -webkit-border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
  -moz-border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
  -ms-border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
  border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
  border-bottom-width: 5px;
  border-bottom-style: inset; }

h2, h3, h4 {
  font-family: 'bebasregular', Arial,sans-serif;
  text-transform: uppercase; }

h3 {
  font-size: .875em;
  word-spacing: 2px; }

h4 {
  font-size: .75em; }

.content-title {
  -webkit-border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
  -moz-border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
  -ms-border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
  border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
  border-bottom: 5px inset;
  padding: 0 0 30px 0; }
  .content-title h2 {
    font-size: 1.5em;
    padding-bottom: 15px;
    line-height: 35px; }
  .content-title p {
    font-size: 0.75em;
    color: #9e9e9e;
    width: 83%; }
    .content-title p em {
      font-style: italic;
      line-height: 20px; }

@media screen and (max-width: 41.07em) {
  .content-title p {
    width: 100%; } }
/* constants  */
.link-activepage:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8.3px 6.75px 0 6.75px;
  border-color: #ebecec transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 50%; }

/*    Header   */
header {
  border-top: #ececec 7px solid;
  overflow: hidden;
  min-height: 148px;
  /*   Navigation   */ }
  header .header-wrapper {
    max-width: 940px;
    margin: 0 auto; }
    header .header-wrapper h1 {
      float: left;
      background: url(../../graphics/header/logo.png);
      text-indent: -9999px;
      background-repeat: no-repeat;
      width: 102px;
      height: 52px;
      margin-top: 20px; }
  header .nav-toggle {
    display: none; }
  header .nav-panel-hidden {
    display: none; }
  header .nav-panel {
    float: right;
    position: relative;
    padding-bottom: 40px; }
    header .nav-panel li, header .nav-panel span {
      display: inline-block;
      width: 78px;
      position: relative; }
    header .nav-panel span {
      color: #a5a5a5;
      font-size: 0.65em;
      /* 10.4 / 16*/
      letter-spacing: 0.2px;
      padding-bottom: 8px; }
    header .nav-panel li {
      font-size: 1.25em;
      padding: 26px 0 0 46px;
      font-family: "bebasregular", Arial, sans-serif;
      text-transform: uppercase; }
    header .nav-panel li:hover:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8.3px 6.75px 0 6.75px;
      border-color: #ebecec transparent transparent transparent;
      position: absolute;
      top: 0;
      left: 50%; }

@media screen and (max-width: 47.19em) {
  .link-activepage:after {
    display: none; }

  header .header-wrapper h1 {
    display: table;
    float: none;
    position: relative;
    margin: 0 auto; }
  header .nav-panel {
    float: none;
    margin: 0 auto;
    display: table; }
    header .nav-panel li {
      padding-left: 46px; }
    header .nav-panel li:hover:after {
      display: none; } }
@media screen and (max-width: 41.07em) {
  header .nav-toggle {
    display: block;
    float: right;
    cursor: pointer;
    height: 48px;
    width: 48px;
    background: url(/graphics/header/nav-toggle.png) no-repeat;
    border: 2px solid black;
    border: 2px solid rgba(0, 0, 0, 0.16);
    margin-bottom: 10px;
    position: absolute;
    right: 3%; }
  header .nav-toggle:hover {
    border: 2px solid rgba(0, 0, 0, 0.7); }
  header .nav-panel {
    display: none;
    float: none;
    text-align: center;
    top: 40px;
    margin-bottom: 20px; }
    header .nav-panel li {
      padding-left: 0px;
      display: list-item;
      margin: 0 auto; } }
footer {
  border-top-color: white;
  background-color: #f7f7f7;
  margin-top: 20px;
  border-width: 5px;
  -webkit-border-image: url(../../graphics/base/diag-pattern.png) 100% 0 0 0 repeat;
  -moz-border-image: url(../../graphics/base/diag-pattern.png) 100% 0 0 0 repeat;
  -ms-border-image: url(../../graphics/base/diag-pattern.png) 100% 0 0 0 repeat;
  border-image: url(../../graphics/base/diag-pattern.png) 100% 0 0 0 repeat;
  position: relative;
  bottom: 0%;
  border-top-style: inset; }
  footer .footer-wrapper {
    max-width: 940px;
    margin: 0 auto;
    font-size: 0.75em;
    padding-top: 30px; }
    footer .footer-wrapper p {
      padding-left: 20px; }

aside {
  float: right;
  width: 23%;
  margin-top: 98px; }
  aside h4 {
    -webkit-border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
    -moz-border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
    -ms-border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
    border-image: url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat;
    border-bottom-width: 5px;
    border-bottom-style: inset;
    color: #464646;
    margin-bottom: 10px;
    padding-bottom: 10px; }
  aside p, aside ul {
    font-size: 0.75em;
    margin: 24px 0 20px 0; }
  aside li {
    padding-bottom: 6px; }

/* Preload images */
body:after {
  content: url(../../graphics/plugins/lightbox/close.png) url(../../graphics/plugins/lightbox/loading.gif) url(../../graphics/plugins/lightbox/prev.png) url(../../graphics/plugins/lightbox/next.png);
  display: none; }

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none; }

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal; }

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.lightbox a img {
  border: none; }

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-container {
  padding: 4px; }

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../../graphics/plugins/lightbox/loading.gif) no-repeat; }

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

.lb-container > .nav {
  left: 0; }

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="); }

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block; }

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../../graphics/plugins/lightbox/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../../graphics/plugins/lightbox/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-data {
  padding: 0 4px;
  color: #ccc; }

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em; }

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em; }

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999; }

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../../graphics/plugins/lightbox/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.slider-counters span {
  width: 23px;
  height: 5px;
  display: inline-block;
  cursor: pointer; }

.link-primary {
  font-size: 0.75em;
  padding-top: 1px;
  position: relative;
  font-family: "bebasregular", Arial, sans-serif;
  text-transform: uppercase;
  word-spacing: 2px; }
  .link-primary:before {
    content: url(../../graphics/home/double_arrow.png);
    position: relative;
    left: 0;
    top: 1px;
    padding-right: 4px; }

.slider-counters {
  margin: 50px 0; }
  .slider-counters .currentslide {
    background-color: #e8e6e6; }
  .slider-counters span {
    background-color: #9a9a9a; }

.slide_filter-list {
  font-family: "bebasregular", Arial, sans-serif; }
  .slide_filter-list li {
    display: inline-block;
    margin: 27px 0 0 15px;
    border-right: solid 1px black;
    padding-right: 12px;
    font-size: 0.875em;
    cursor: pointer;
    line-height: 20px; }
  .slide_filter-list li:first-of-type {
    margin-left: 0px; }
  .slide_filter-list li:last-of-type {
    border: none; }

.slider-container {
  margin-top: 30px;
  width: 100%;
  overflow: hidden; }

.active-tab {
  color: #9a9a9a; }

/* Main Slide that holds the all the projects*/
.slider {
  width: 500%;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  transform: translate(0%); }
  .slider ul {
    float: left;
    width: 20%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px; }
    .slider ul li {
      display: inline-block;
      width: 213px;
      vertical-align: top;
      margin-left: 2px; }
    .slider ul article {
      padding: 10px; }
      .slider ul article h3 {
        padding-top: 10px; }
      .slider ul article h4 {
        padding-top: 5px;
        color: #afaeae; }
      .slider ul article p {
        font-size: 0.75em;
        padding-top: 10px;
        line-height: 24px; }

/*Image container to control image zoom overlay*/
.image-container {
  position: relative;
  width: 210px; }
  .image-container img {
    -moz-transition: opacity ease-in 300ms;
    -o-transition: opacity ease-in 300ms;
    -webkit-transition: opacity ease-in 300ms;
    transition: opacity ease-in 300ms;
    opacity: 1;
    display: block;
    border: 1px solid #bebebe; }
  .image-container .image-zoom {
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    background: #393d37 url(../../graphics/projects/image-zoom.png) no-repeat center;
    position: absolute; }
  .image-container .image-zoom:hover {
    opacity: 0.8;
    cursor: pointer; }

/*  Media Queries  */
@media screen and (max-width: 60.56em) {
  .content-wrapper {
    float: none;
    margin: 0px auto; }

  .slide_filter-list {
    text-align: center; }

  /* Slider individual projects*/
  .slider ul li {
    width: 49%; }
    .slider ul li p {
      width: 80%; }

  aside {
    float: none;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.25em; }
    aside p {
      text-align: left; } }
@media screen and (max-width: 50.56em) {
  /* Slider Counters*/
  .slider-counters {
    text-align: center; }
    .slider-counters span {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-top: 10px;
      margin-left: 10px; } }
@media screen and (max-width: 41.07em) {
  .content-wrapper {
    width: 100%; }

  .slide_filter-list {
    text-align: center; }
    .slide_filter-list li {
      font-size: 1.15em; }

  .slider-container {
    width: 213px;
    margin: 30px auto; }

  .slider ul li {
    width: 100%; }

  aside {
    width: 100%; } }

