//Base css -Mixins,  Variables, Typography
@import '../base/all_base.scss';

//Header, Aside, Footer
@import '../modules/header.scss';
@import '../modules/footer.scss';

//Components
@import '../components/buttons.scss';

/* Override for the content wrapper*/
.content-wrapper {
    width: 100%;
}

/* The top section of the content */
.section-top {
    @include border-image(url(../../graphics/base/diag-pattern.png) 0 0 100% 0 repeat);
    border-bottom: 5px inset;
    overflow: hidden;
    padding-bottom:60px;

    & article:first-child {
        margin-left: 0;
    }

    article {
        h3 {
            font-size: 1.125em;
            margin: 40px 0 30px 0;
        }

        p {
            width: 100%;
            line-height: 24px;
            font-size: 0.75em;

            span {
                color: #9e9d9d;
                padding-bottom: 20px;
            }
        }
    }
}
/* The bottom section of the content */
.section-bottom {
    overflow: hidden;
    margin-top: 57px;

    & article:first-child {
        margin-left: 0;
    }

    article {
        width:33%;
        float:left;
        margin-left:4px;

        .profile_info {
            position: relative;
            padding: 20px;

            img {
                width: 100%;
            }

            a {
                float: right;
                font-family: $bebas;
                color: #515151;
            }

            h3 {
                font-size: 1.125em;
                padding-bottom: 8px;
            }

            h4 {
                padding-bottom: 20px;
                color: #515151;
            }

            p, a, h4 {
                font-size: 0.75em;
            }

            p {
                line-height: 24px;
                color: #515151;
            }
        }
    }
}

/*   Media Queries  */
@media screen and (max-width: 59.00em) {
    .section-top {
        article {
            p {
                width: 90%;
            }
        }
    }
    .section-bottom {
        & article:first-child {
            margin: 17px auto;
        }

        article {
            float:none;
           width:298px;
            margin: 17px auto;
            }
        }
    }


@media screen and (max-width: 41.07em) {
    .section-top {
        & article:first-child {
            margin: 17px auto;
        }

        article {
            p {
                width: 100%;
            }
        }
    }
}
